[submodule "liquidoc-gem"]
	path = liquidoc-gem
	url = https://github.com/DocOps/liquidoc-gem.git
[submodule "product"]
	path = product
	url = https://github.com/DocOps/liquidoc-gem.git
[submodule "products/gem"]
	path = products/gem
	url = https://github.com/DocOps/liquidoc-gem.git
[submodule "products/cmf"]
	path = products/cmf
	url = https://github.com/DocOps/liquidoc-cmf.git
