[submodule "liquidoc-gem"]
	path = liquidoc-gem
	url = git@github.com:briandominick/liquidoc-gem.git
[submodule "product"]
	path = product
	url = git@github.com:briandominick/liquidoc-gem.git
[submodule "products/gem"]
	path = products/gem
	url = git@github.com:DocOps/liquidoc-gem.git
[submodule "products/cmf"]
	path = products/cmf
	url = git@github.com:DocOps/liquidoc-cmf.git
